body {            
  user-select: none;
  -moz-user-select: none;
}

form {
  position: absolute;
  padding: 0px 5px 5px 5px;
  width: 150px;
  border: 1px solid #000;
  box-shadow: 1px 1px 5px #aaa;
  opacity: 0.15;
  transition: opacity 0.1s;
}

form:hover {
  opacity: 1;
  transition: opacity 0.1s;
}
    
form>div {
  margin: 8px 0px;
}

form input[type="text"] {
  float: right;
  width: 50%;
  right: 0px;
  text-align: right;
}
    
form input[type="submit"] {
  float: right;
  width: 100%;
  margin: 5px 0px;
  right: 0px;
}
